.count-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.count-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.6em;
}

.count-buttons span {
    font-size: 0.7em;
}

 button.addcarrito {
     padding: 8px;
     margin: 3px;
     background: var(--acento);
     border: 0;
     border-radius: 3px;
     font-size: 1em;
 }

button.addcarrito i {
     font-size: 1.5em;
 }