 /* first mobil */
header {
    width: 100%;
    padding: 20px 10px;
    background-color: var(--acento);
    border-left: 5px solid var(--acento);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
}

header img {
    height: 35px;
    margin-right: 5px;

}

header .usuario a {
    padding: 5px;
    color: var(--color-principal);
    text-decoration: none;
}

header .usuario i {
    font-size: 1.4em;
}


header p {
    font-size: 2em;
    color: var(--color-principal);
} 

header .formBuscar{
    display: none;
}

@media screen and (min-width: 768px) {
    /* breakpoint para tablet */
header .formBuscar{
        display: block;
    }
}