 /* first mobil */
header {
    width: 100%;
    padding: 20px 10px;
    background-color: var(--acento);
    border-left: 5px solid var(--acento);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
}

header img {
    height: 35px;
    margin-right: 5px;

}
header .usuario {
    display: flex;
    gap: 10px;
    align-items: center;
}
header .usuario .cartIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header .usuario a {
    padding: 5px;
    color: var(--color-principal);
    text-decoration: none;
}

header .usuario i {
    font-size: 1.4em;
}


header p {
    font-size: 2em;
    color: var(--color-principal);
} 

header .formBuscar{
    display: none;
}

.inicio {
    text-decoration: none;
}

.in-cart {
  background-color: var(--color-secundario);
  font-size: 0.75em;
  font-weight: bold;
  color: var(--color-principal);
  border-radius: 50%;
  padding: 0.25em 0.5em;
  display: inline-block;
  min-width: 20px; /* asegura que sea redondo aunque sea "1" */
  text-align: center;
  margin-left: 0.25em;
}

@media screen and (min-width: 768px) {
    /* breakpoint para tablet */
header .formBuscar{
        display: block;
    }
}
