 button.addcarrito {
     padding: 8px;
     margin: 3px;
     background: var(--acento);
     border: 0;
     border-radius: 3px;
     font-size: 1em;
 }

button.addcarrito i {
     font-size: 1.5em;
     color: var(--color-principal)
 }